*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 200vh;
    background-color: rgb(2, 2, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}


.numeros {
    border: 2px solid black;
    width: 500px;
    height: 500px;

}

.numeros .kl{
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    top: 40px;
    text-transform: uppercase;

}


.numerosjo{
    position: relative;
    border: 2px solid red;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    top: 150px;
    left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn{
    position: relative;
    top: 160px;
    left: 180px;
    width: 150px;
    height: 40px;
    border-radius: none;
    background-color: rgb(35, 90, 191);
    border: none;

}

.pon{
    font-size:  50px;
    color: aliceblue;
}