body{
    background-color: rgb(242, 242, 242);
}
nav{
    display: flex;
    justify-content: center;


}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 30px;
    background-color: aqua;
    overflow: hidden;
    width: 950px;
    box-shadow: inset;
    box-shadow: 0px 0px 5px 2px white ;
    }

li{
    box-sizing: border-box;
    display: inline;
    text-align: center;
    padding: 15px 40px;
    text-transform: uppercase;
    border: 2px solid blueviolet;
    border-bottom: 6px solid rgb(141, 0, 0);
    background-color: rgb(41, 0, 108);
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
}